.celebration-notification {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    color: aqua;
    font-size: 3rem;
    width: 100%;
    background-color: #000000cc;
    animation: fade 3s linear;
}

h3 {
    text-decoration: underline;
}

.celebration-notification > p > span {
    color: greenyellow;
    font-size: 4rem;
}
.button {
    margin: 2px;
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
