.card {
    position: relative;
}
.card img {
    display: block;
    border: 2px solid #fff;
    border-radius: 6px;
}

.card .front-container {
    display: flex;
}

.card .front {
    transform: rotateY(90deg);
    object-fit: scale-down;
    background-color: fff;
    position: absolute;
}
@media screen and (max-width: 800px) {
    .card .front {
        object-fit: unset;
        position: absolute;
    }
    .front-background {
        object-fit: scale-down;
        border: unset !important;
        filter: unset;
        display: none;
    }
    .card img {
        display: block;
        border: 2px solid #fff;
        border-radius: 6px;
        width: 100px;
    }
}
.front-background {
    object-fit: cover;
    width: 200px;
    border: none !important;
    filter: blur(2px);
}

.flipped .front {
    transform: rotateY(0deg);
 }

.card .back {
    transition: all ease-in  0.2s;
    object-fit: cover;
    transition-delay: 0.2s;
}
.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}