:root[data-applied-mode="light"] {
    color-scheme: light;
    --text: #1b1523;
    --background: white;
  }
  :root[data-applied-mode="dark"] {
    color-scheme: dark;
    --text: white;
    --background: #1b1523;
  }
  