.celebration-notification {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 250;
  color: aqua;
  font-size: 3rem;
  width: 100%;
  background-color: #000000cc;
  animation: fade 3s linear;
}

h3 {
  text-decoration: underline;
  margin-top: 0.4em;
  margin-bottom: 0.5em;
}

.celebration-notification > p > span {
  color: greenyellow;
  font-size: 4rem;
  margin-top: 0.4px;
}
.button {
  margin: 2px;
}

.restart-btn {
  position: absolute;
  top: 94%;
  left: 50%;
  transform: translate(6%, -50%);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 2px;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        position: fixed;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 250;
        color: aqua;
        font-size: 3rem;
        width: 100%;
        background-color: #000000cc;
        animation: fade 3s linear;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
