.custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: rgba(111, 111, 110, 0.8);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
  z-index: 9999;
}
