.App {
  max-width: 860px;
  margin: 40px auto;
}
button {
  color: var(--text,#fff);
  background: var(--background, #1b1523);
  border: 2px solid;
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}
button:hover {
  background: green;
  color: #fff;
}

.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media screen and (max-width: 600px) {
  .card-grid {
    margin-top: 40px;
    margin-left: 5px;
    margin-right: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}

#theme-toggle{
  position: absolute;
  top: 1vh;
  right: 1vw;
  font-size: 0.7em;
}

div.animation {
  animation: shake 1s cubic-bezier(.36,.07,.19,.97);
}

@keyframes shake {
  10%, 90% { transform: translate3d(-1px, 0, 0); }
  20%, 80% { transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
  40%, 60% { transform: translate3d(4px, 0, 0); }
}
.collapse-animation {
  animation: collapse 1.2s forwards;
  -webkit-animation: collapse 1.2s forwards;
}

@keyframes collapse {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(0.2) rotate(360deg);
    -webkit-transform: scale(0.2) rotate(360deg);
    -moz-transform: scale(0.2) rotate(360deg);
    -ms-transform: scale(0.2) rotate(360deg);
    -o-transform: scale(0.2) rotate(360deg);
}
  100% {
    transform: scale(1) rotate(720deg);
    -webkit-transform: scale(1) rotate(720deg);
    -moz-transform: scale(1) rotate(720deg);
    -ms-transform: scale(1) rotate(720deg);
    -o-transform: scale(1) rotate(720deg);
  }
}


