@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root[data-applied-mode='light'] {
    color-scheme: light;
    --text: #1b1523;
    --background: white;
  }

  :root[data-applied-mode='dark'] {
    color-scheme: dark;
    --text: white;
    --background: #1b1523;
  }

  html {
    @apply bg-background min-h-screen;
    background-color: var(--background) !important;
  }

  body {
    @apply font-[Raleway] m-0 text-center text-[1.5em] text-text bg-background cursor-none min-h-screen;
    background-color: var(--background) !important;
  }

  html,
  * {
    @apply cursor-none;
  }
}
