  
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

/* base styles */
body {
  font-family: Raleway, sans-serif;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  color: var(--text,#fff);
  background: var(--background, #1b1523);
}
.results-container{
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

body, html {
  cursor: none;
}

* {
  cursor: none;
}

.button-box{
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hint{
  margin-left: 10px;
  margin-right: 10px;
}

.hint:hover{
  background-color: yellow;
  color: black;

}

.hint-box{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hint-count{
  font-size: 15px;
  color: var(--text,#fff);
}

@media (max-width: 600px) {
  .button-box{
    flex-direction: column;
    gap: 20px;
  }
}